<?xml version="1.0"?>

<config>
    <modules>
        <Caja_Cajademo>
            <version>0.1.0</version>
        </Caja_Cajademo>
    </modules>
    <adminhtml>
        <layout>
            <updates>
                <caja_cajademo>
                    <file>caja_cajademo.xml</file>
                </caja_cajademo>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <cajademo>
                <use>standard</use>
                <args>
                    <module>Caja_Cajademo</module>
                    <frontName>cajademo</frontName>
                </args>
            </cajademo>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Caja_Cajademo before="Mage_Adminhtml">Caja_Cajademo_Adminhtml</Caja_Cajademo>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <blocks>
            <cajademo>
                <class>Caja_Cajademo_Block</class>
            </cajademo>
        </blocks>
        <helpers>
            <cajademo>
                <class>Caja_Cajademo_Helper</class>
            </cajademo>
        </helpers>
        <models>
            <cajademo>
                <class>Caja_Cajademo_Model</class>
            </cajademo>
        </models>
        <!--events>
            <catalog_product_new_action>
                <observers>
                    <Caja_Cajademo>
                        <type>singleton</type>
                        <class>Caja_Cajademo_Model_Observer</class>
                        <method>ifProductNew</method>
                    </Caja_Cajademo>
                </observers>
            </catalog_product_new_action>
        </events-->
    </global>
    <crontab>
        <jobs>
            <sync_skus>
                <schedule>
                    <cron_expr>*/1 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>cajademo/service::syncSkus</model>
                </run>
            </sync_skus>
            <sync_orders>
                <schedule>
                    <cron_expr>*/2 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>cajademo/service::syncOrders</model>
                </run>
            </sync_orders>
        </jobs>
    </crontab>
</config>
